PORT=3000
NODE_ENV=development

# Supabase
DATABASE_URL=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_JWT_SECRET=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# UPI Settings
UPI_VPA=jeevasuriya2007-5@okicici
MAX_WALLET_TOPUP_AMOUNT=10000
